* {
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    margin-top: 2%;
}
th, td {
    border: 1px solid black;
    text-align: left;
    padding: 15px;
	background-color: rgba(231, 253, 255, 0.2);
	color: #000000;
}
th {
    cursor: pointer;
    text-align: left;
}

thead {
	th {
		background-color: #c9feff;
	}
}

html {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-image: radial-gradient(ellipse at top left, #a0a0a0, #ffffff);
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
}

.stats-table{
	width: 50%;
}

